@import url('https://fonts.googleapis.com/css?family=Amiko:700');

@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Narrow'), 
        url(../fonts/arial-narrow.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}


h1{
    font-family: 'Amiko', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.uno{
    margin-top: -4px !important;
}
b{
    font-family: 'Arial Narrow Bold', arial;
}

p{
    font-family: 'Arial Narrow', arial;
    text-align: justify;
}

ul li{
    font-family: 'Arial Narrow', arial;
    list-style-type: none;
}

.ul-si li{
    list-style-type: initial;
}

a{
    color:#000;
}

.footer{
    height: 100px;
}

.pd-0{
    padding: 0;
}


.bg {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

section{
    height: 650px !important;
}
section .row{
    height: 100%;
}

.menu{
    position: fixed;
    top:40%;
    z-index: 100;
}
.menu li{
    list-style-type: none;
    height: 2.2rem;
    overflow: hidden;
}


ul.menu li a.sect {
    color:rgb(0, 0, 0);
    font-size: 3.2rem;
    text-decoration: none;
    opacity: 0.4;
    position: relative;
    top: -26px;


}

.torres,.granvia,.plano,.carretera,.contact {
    background-image: url("../images/torres.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    height: 80%;
    background-position: center;
}

.granvia{
    background-image: url("../images/granvia.png");
}

.plano{
    background-image: url("../images/plano.png");
    background-size: 89% 100%;
    background-position-x: 100px;
}

.carretera{
    background-image: url("../images/carretera.png");
    background-size: 89% 100%;
    background-position-x: 100px;
}

.contact{
    background-image: url("../images/conta.png");
    background-size: 56% 100%;
    background-position-x: 90px;
}

ul.menu li .sect-active{
    opacity: 1 !important;
}

ul.menu li a.sect:hover{
    opacity: 1;
}

.circle{
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    border:4px solid white;
    margin:0 auto;
}

.circle p{
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    top: -3px;
    position: relative;

}

#urbanismo ul {
    padding-left: 15px;
}

#urbanismo ul{
    padding-left: 15px;
}
#inmobiliario ul{
    padding-left: 15px;
}

#expropiacion{
    padding-left: 15px;
}

.img{
    display: block;
    margin-left: 20%;
    //width: 95%;
}
.texto p{
    padding: 3%;
    z-index: 1;
    padding-bottom: 0;
    margin-bottom: 0.8rem;
}
#expropiacion img,#catastral img{
    z-index: 1000;
}



#contacto h1{
    color:#c3474c;
}

#contacto ul li{
    text-align: center;
    list-style-type: none;
    background-image: url('../images/azul.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}
#contacto ul li:first-child{
    background-image: url('../images/verde.png');
}
#contacto ul li:last-child{
    background-image: url('../images/morado.png');
}

.mapa {
    width: auto !important;
    display: block;
    margin: auto;
    cursor: pointer;
    max-width: 90%;
}


span{
    background-image: url('../images/verde.png');
}

#inmobiliario span{
    background-image: url('../images/morado.png');
}

#catastral span{
    background-image: url('../images/azul.png');
}

#expropiacion span{
    background-image: url('../images/verde2.png');
}

.downd{
    position: fixed;
    z-index: 50000;
    bottom: 0;
    left: 45%;
    padding: 0;
}
.downd li{
    list-style-type: none;
    display:inline;
    padding: 0 20px 0 20px;
}


 .downd li img{
    width: 32px !important;
     cursor: pointer;
 }

@media screen and (max-width: 992px) {

    .container{
        width: 100%;
    }


}

@media screen and (max-width: 768px) {

    h1{
        font-size:2rem;
    }
    .container-fluid{
        margin:0;
        padding: 0;
    }
     img{
        margin-left:0 !important;
        width: 100% !important;
     }
     .menu{
        display: none;
     }

     .downd{
        left: 40%;
         display: none;

    }

    section{
        height: auto !important;
    }

    .torres,.granvia,.plano,.carretera,.contact {
        background-size: 100%;
        height: 580px;
    }

}

@media screen and (max-width: 600px) {
   
}

@media screen and (max-width: 360px) {
   
}

